# Ignore
USA_IA_20080103_PRI_PRE_REP_000_data.csv
USA_IA_20120103_PRI_PRE_REP_000_data.csv
USA_IA_20120103_PRI_PRE_REP_TLY_PARM_000.json
USA_IA_20120103_PRI_PRE_REP_TLY_PARM_000_batch.bat
USA_IA_20120103_PRI_PRE_REP_TLY_PARM_000_batch.csv
USA_IA_20120103_PRI_PRE_REP_TLY_PARM_000_data_parm.csv

# Do not ignore this file
!.gitignore
