# Ignore
USA_AK_20161108_GEN_ALL_ALL_001_data.csv
USA_AK_20201103_GEN_ALL_ALL_001_data.csv
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001.json
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.csv
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001_data_parm.csv

# Do not ignore this file
!.gitignore
