# Ignore
ROU_ALL_20250504_GEN_PRE_ALL_000_data.csv
ROU_ALL_20250518_RUN_PRE_ALL_000_data.csv
ROU_ALL_20250518_RUN_PRE_ALL_TLY_BOTH_000.json
ROU_ALL_20250518_RUN_PRE_ALL_TLY_BOTH_000_batch.bat
ROU_ALL_20250518_RUN_PRE_ALL_TLY_BOTH_000_batch.csv
ROU_ALL_20250518_RUN_PRE_ALL_TLY_BOTH_000_data_parm.csv

# Do not ignore this file
!.gitignore
