# Ignore
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AZ_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AZ_20201103_GEN_USS_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_GEN_USS_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_SPE_USS_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201116_REC_PRE_ALL_TLY_BOTH_001_batch.bat
USA_GA_20210105_RUN_US1_ALL_TLY_BOTH_001_batch.bat
USA_GA_20210105_RUN_US2_ALL_TLY_BOTH_001_batch.bat
USA_MS_20140624_RUN_USS_REP_TLY_BOTH_000_batch.bat

# Do not ignore this file
!.gitignore
