# Ignore
USA_AK_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AL_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AR_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AZ_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_AZ_20201103_GEN_USS_ALL_TLY_BOTH_001_batch.bat
USA_CA_20160607_PRI_PRE_DEM_TLY_BOTH_001_batch.bat
USA_CA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_CO_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_CT_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_DC_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_DE_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_FL_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_GEN_USS_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201103_SPE_USS_ALL_TLY_BOTH_001_batch.bat
USA_GA_20201116_REC_PRE_ALL_TLY_BOTH_001_batch.bat
USA_GA_20210105_RUN_US1_ALL_TLY_BOTH_001_batch.bat
USA_GA_20210105_RUN_US2_ALL_TLY_BOTH_001_batch.bat
USA_HI_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_IA_20120103_PRI_PRE_REP_TLY_PARM_000_batch.bat
USA_IA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_ID_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_IL_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_IN_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_KS_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_KY_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_LA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MD_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_ME_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MI_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MN_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MO_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_MS_20140624_RUN_USS_REP_TLY_BOTH_000_batch.bat
USA_MS_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NC_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_ND_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NE_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NH_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NJ_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NM_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NV_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_NY_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_OH_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_OK_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_OR_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_PA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_RI_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_SC_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_SD_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_TN_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_TX_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_UT_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_VA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_VT_20161108_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_VT_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_WA_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_WI_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_WV_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_WY_20201103_GEN_PRE_ALL_TLY_BOTH_001_batch.bat

# Do not ignore this file
!.gitignore
