# Ignore
USA_VT_20161108_GEN_ALL_ALL_001_data.csv
USA_VT_20161108_GEN_PRE_ALL_TLY_BOTH_001.json
USA_VT_20161108_GEN_PRE_ALL_TLY_BOTH_001_batch.bat
USA_VT_20161108_GEN_PRE_ALL_TLY_BOTH_001_batch.csv
USA_VT_20161108_GEN_PRE_ALL_TLY_BOTH_001_data_parm.csv

# Do not ignore this file
!.gitignore
